.ImageGallery {
    grid-gap: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    list-style: none;
    margin: 0 auto;
    max-width: calc(100vw - 256px);
    padding: 10px;
  }